.layout {
    height: 98vh;
    width: 98vw;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
}

.header {
    border: 2px solid red;
}
.footer {
    border: 2px solid yellow;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav {
    border: 2px solid orange;
}

.content {
    border: 2px solid blue;
    width: 100%;
}